.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff679;
  color: black;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px #7f703c;

  position: sticky;
  top: 0;
  z-index: 1000; 
}

/* .navbar-logo {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
} */

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 1.8rem;
  text-decoration: none;
  min-width: 120px;
  color: #ffffff;
  
}

.navbar-logo .logo {
  width: 52px;
  height: 52px;
  display: block;
  flex-shrink: 0;
}

.navbar .logo {
  --logo-primary: #e5e7eb;
}

.navbar-logo:hover {
  color: #3498db;
}

.navbar-title {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.navbar-links button {
  color: black;
  margin-left: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover,
.navbar-links button:hover {
  color: black;
}

.navbar-links button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-links button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
}

.navbar-links button:hover {
  background-color: #34495e;
}

.navbar-links .active {
  color: #ccb460;
}

